<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>120174249921-qa72kpmcv1864cktdljochob2f56so3p.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.120174249921-qa72kpmcv1864cktdljochob2f56so3p</string>
	<key>API_KEY</key>
	<string>AIzaSyCYdt0kG_if_fMQhcfGJiuQCk6BcCSLd5o</string>
	<key>GCM_SENDER_ID</key>
	<string>120174249921</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.formsHelper</string>
	<key>PROJECT_ID</key>
	<string>formshelper-f0d02</string>
	<key>STORAGE_BUCKET</key>
	<string>formshelper-f0d02.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:120174249921:ios:e46f8149fe729408879140</string>
</dict>
</plist>